<div>Vaccination Portal</div>
<div>
  <span>
      <a routerLink="/world">Click to know about vaccination status in World</a>
      <br>
  </span>
  <span>
      <a routerLink="/country">Click to know about vaccination status in Country</a>
      <br>
  </span>
 <span>
    <a routerLink="/state">Click to know about vaccination status in State</a>
    <br>
 </span>
</div>
<div>
    <span>
        <a routerLink="/guidelines/precautions">click to know precautions</a>
        <br>
    </span>
    <span>
        <a routerLink="/guidelines/immunityboost">How to boost immunity?</a>
        <br>
    </span>
   <span>
      <a routerLink="/guidelines/covidhelp">Need Covidhelp?</a>
      <br>
   </span>
  </div>
<router-outlet></router-outlet>